asgiref==3.8.1
crispy-tailwind==1.0.3
Django==5.0.4
django-crispy-forms==2.1
django-tailwind==3.8.0
et-xmlfile==1.1.0
ngrok==1.2.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tailwind==3.1.5b0
tailwindcss==0.0.1
TgCrypto==1.2.5
tzdata==2024.1
XlsxWriter==3.2.0
