{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCM</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet">
    
    <!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'img/tickerfav2.png' %}">
</head>
<body>
    <div class="max-w-15xl mx-auto">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include "scripts.html" %}
    <script src=https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script
    {% block script %}
    {% endblock %}
</body>
</html>